<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="WaterMarkSoap" closeTimeout="00:05:00" openTimeout="00:05:00"
                 receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
                 bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="5242880000" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"
                 textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
                 messageEncoding="Text">
                  
                <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                <security mode="None">
                  <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                  <message clientCredentialType="UserName" algorithmSuite="Default" />
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/watermaker/WaterMark.asmx"
                binding="basicHttpBinding" bindingConfiguration="WaterMarkSoap"
                contract="service.WaterMarkSoap" name="WaterMarkSoap" />
        </client>
    </system.serviceModel>
</configuration>